@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Kalam', cursive;
    box-sizing: border-box;
}

h1 {
    font-family: 'Arizonia', cursive;
    background: linear-gradient(272.33deg, #414141 44.46%, #c0c0c0ac 95.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 70px;
    font-weight: lighter;
}

.sub-head {
    font-family: 'Kristi', cursive;
}

p {
    font-family: 'Kalam', cursive;
    color: #848484;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero {
    background: rgb(255, 255, 255);
    position: relative;
    height: 100vh;
    max-height: 70vh;
    // display: flex;
    // justify-content: space-between;

    .one {
        overflow: visible;
        position: absolute;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 40px;
        padding-left: 20px;
        height: 100%;
        width: 100%;
        max-width: 1000px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        span .sub-head {
            font-size: 20px;
            letter-spacing: 1px;
            text-align: right;
            color: rgb(0, 0, 0);
            margin-top: -20px;
            font-weight: lighter;
        }

        span .sub-head:after {
            content: " ";
            width: 25px;
            margin-left: 5px;
            height: 1.5px;
            background: rgb(0, 0, 0);
            display: inline-block;
            border-radius: 2px;
        }

        &>p {
            max-width: 80%;
        }

        button {
            background: transparent;
            border: 0;
            padding: 10px 40px;
            border: 1px solid black;
            border-radius: 30px;
        }
    }

    .two {
        position: relative;
        min-height: 600px;
        isolation: isolate;

        .bg-img,
        .bg-img-fade {
            background: url(assets/Screenshot_20230227_200514.png);
            height: auto;
            width: 50vw;
            min-width: 500px;
            aspect-ratio: 1/1;
            position: absolute;
            right: 0;
            top: 0;
        }

        .bg-img-fade {
            background: radial-gradient(83.9% 83.9% at 91.26% 11.71%, rgba(255, 255, 255, 0.416) 0%, #FFFFFF 100%)
        }
    }
}

.gallery {
    #photos {
        /* Prevent vertical gaps */
        line-height: 0;
        column-count: 5;
        column-gap: 20px;
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
        width: 100%;
        max-width: 1000px;

        img {
            /* Just in case there are inline attributes */
            width: 100% !important;
            height: auto !important;
            margin-bottom: 20px;
            border-radius: 5px;
        }
    }
}


// login
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .box {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        border: 1px solid rgb(207, 207, 207);
        border-radius: 10px;

        img {
            width: 100%;
        }

        .fade {
            background: linear-gradient(rgba(245, 245, 245, 0), rgb(255, 255, 255));
            margin-top: -70px;
            height: 70px;
            position: relative;
        }

        .form {
            padding: 20px;

            h2 {
                font-size: 35px;
            }

            form {
                margin-top: 10px;

                label {
                    width: 100%;
                    display: block;
                    font-size: 18px;
                    margin-top: 20px;
                }

                input {
                    width: 100%;
                    padding: 10px 10px;
                    outline: none;
                    border: 1px solid grey;
                    border-radius: 5px;
                }

                button {
                    background: rgb(255, 206, 161);
                    width: 100%;
                    padding: 10px 25px;
                    margin-top: 30px;
                    font-size: 20px;
                    border-radius: 10px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    #gallery #photos {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media (max-width: 1000px) {
    #gallery #photos {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media (max-width: 800px) {
    #gallery #photos {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 450px) {
    #gallery #photos {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }

    .hero {
        .one {
            padding: 20px;

            &>p {
                max-width: 100%;
            }
        }
    }



    h1 {
        font-size: 60px;
        padding-top: 200px;
    }

    .login {
        height: auto;

        .box {
            border: 0;
            width: 100%;
            height: auto;
        }
    }
}